/* src/layouts/MainLayout.css */

.main-layout {
  display: flex;
  height: 100vh;
  /* Ocupa toda la altura de la pantalla */
  width: 100vw;
  background-color: #1a1a2e;
  /* Un fondo oscuro para todo */
}

.main-content {
  flex-grow: 1;
  /* Hace que esta área ocupe todo el espacio restante */
  position: relative;
  /* Muy importante para que los elementos flotantes (InfoPanel) se posicionen bien */
}